@model DataLibrary.ViewModel.UserViewModel
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <p class="login-box-msg">Change password</p>
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-12">
            <div id="sucessalert" class="alert alert-success alert-dismissible" style="display: none">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"> </i> </h4>
                <span></span>
            </div>
            <div id="failurealert" class="alert alert-danger alert-dismissible" style="display: none">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"> </i> </h4>
                <span></span>
            </div>
            <div id="validationalert" class="alert alert-danger alert-dismissible" style="display: none">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"> </i> <label id="lblMsg"></label> </h4>
                <span></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Old Password </label><span style="color:red">*</span>
                    @Html.HiddenFor(model => model.Id)
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Old Password", @autocomplete = "off" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>New Password</label><span style="color:red">*</span>
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "New Password", @autocomplete = "off" })

                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <label >Conform Password</label><span style="color:red">*</span>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Conform Password", @autocomplete = "off" })

                    </div>
                </div>
        </div>

    </div>

        <div class="row">
            <div class="col-md-10 logoption">

            </div>
            <div class="col-md-10">
                <button type="button" id="btnSave" class="btn btn-primary special" >Save</button>
            </div>
        </div>
</div>


    

    <script>
        $("#ConfirmPassword").blur(function () {
            var ConfirmPassword = $("#ConfirmPassword").val();
            var NewPassword = $("#NewPassword").val();
            if (ConfirmPassword != NewPassword) {
                $("#validationalert").show();
                $('#validationalert').delay(3000).fadeOut(400);
                $("#lblMsg").html("Password is mismatch");
                $("#ConfirmPassword").focus();
            }

        });
        $(function () {

            $("#btnSave").click(function () {
                debugger;
                var Id = $("#Id").val();
                var Password = $("#Password").val();
                var NewPassword = $("#NewPassword").val();
                var ConformPassword = $("#ConformPassword").val();
                var formData = new FormData();
                formData.append("Password", Password);
                formData.append("NewPassword", NewPassword);
                formData.append("ConformPassword",ConformPassword);
                formData.append("Id", Id);

                var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                var numbers = /^[0-9._-]+$/;

                if (Password == "") {
                    $("#validationalert").show();
                    $('#validationalert').delay(3000).fadeOut(400);
                    $("#lblMsg").html("Please enter Old Password");
                    $("#Password").focus();
                } else if (NewPassword == "") {
                    $("#validationalert").show();
                    $('#validationalert').delay(3000).fadeOut(400);
                    $("#lblMsg").html("Please enter NewPassword");
                    $("#NewPassword").focus();
                }
                    else if (ConformPassword == "") {
                        $("#validationalert").show();
                        $('#validationalert').delay(3000).fadeOut(400);
                        $("#lblMsg").html("Please enter Conform Password");
                        $("#ConformPassword").focus();
                    }
                    else if(ConformPassword!=NewPassword)
                    {
                        $("#validationalert").show();
                        $('#validationalert').delay(3000).fadeOut(400);
                        $("#lblMsg").html("Password Mismatch");
                        $("#ConformPassword").focus();
                    }
                else {



                    $.ajax({
                        type: "POST",
                        url: "/Home/Changepassword",
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        success: function (data, textStatus, jqXHR) {
                            if (data.success) {
                                debugger;
                                $("#sucessalert > h4 > i").html(data.msg);
                                $("#sucessalert").show();
                                $('#sucessalert').delay(5000).fadeOut(400);


                            } else {
                                $("#failurealert > h4 > i").html(data.msg);
                                $("#failurealert").show();
                                $('#failurealert').delay(5000).fadeOut(400);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#failurealert > h4 > i").html(" Something Went Wrong !!");
                            $("#failurealert").show();
                            $('#failurealert').delay(5000).fadeOut(400);
                        },
                        compete: function () {
                            $(btn).button('reset');
                            $(btn).dequeue();
                        }
                    });
                }
            });
        });
    </script>


